---
import FeatureCard from "@/components/cards/FeatureCard.astro";

const { infrastructureSection } = Astro.props;
---

<section
  class="border-b border-paraDark bg-[url('/images/trustedby/gradient2.svg')] bg-center py-[80px]"
>
  <div class="container">
    <div class="flex flex-col items-center justify-center gap-2">
      <h2 class="text-center text-xl font-medium md:text-[28px]">
        {infrastructureSection.title}
      </h2>
      <p class="mt-1 text-center text-base text-paraDark">
        {infrastructureSection.description}
      </p>
    </div>
    <div class="mt-10 lg:mt-20">
      <div class="grid grid-cols-5 gap-10 3xl:gap-6">
        {
          infrastructureSection.cards.map((card: any) => (
            <FeatureCard card={card} />
          ))
        }
      </div>
    </div>
  </div>
</section>
