---
import { buyAkt } from "@/lib/constants";
---

<div>
  <h2 class="text-center text-2xl font-semibold md:text-2lg">
    Buy AKT on your favorite exchange
  </h2>
  <!-- <p class="mt-4 text-center text-base font-normal md:text-lg">
    Own a token that’s backed by real world utility powering the future of AI.
  </p> -->

  <div
    class="mx-auto mt-8 grid max-w-[50rem] grid-cols-2 gap-3 md:mt-14 md:grid-cols-4 md:gap-5"
  >
    {
      buyAkt.map((item) => (
        <a
          href={item.link}
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center rounded-lg border px-8 py-8 transition-all hover:border-primary hover:shadow-md"
        >
          <div set:html={item.logo} class="h-6" />
        </a>
      ))
    }
  </div>
</div>
