---
const buyData = [
  {
    logo: "/images/token/buy/coinbase.svg",
    title: "Coinbase",
    link: "https://www.coinbase.com/how-to-buy/akash-network",
  },
  {
    logo: "/images/token/buy/kraken.svg",
    title: "Kraken",
    link: "https://www.kraken.com/prices/akash-network?quote=usd",
  },
  {
    logo: "/images/token/buy/upbit.svg",
    title: "Upbit",
    link: "https://upbit.com/exchange?code=CRIX.UPBIT.KRW-AKT",
  },
  {
    logo: "/images/token/buy/crypto.svg",
    title: "Crypto.com",
    link: "https://crypto.com/exchange/akt_usdt",
  },
];
---

<div>
  <h2 class="text-center text-2xl font-semibold md:text-2lg">
    Buy AKT on your favorite exchange
  </h2>
  <!-- <p class="mt-4 text-center text-base font-normal md:text-lg">
    Own a token that’s backed by real world utility powering the future of AI.
  </p> -->

  <div class="mx-auto mt-14 grid max-w-[50rem] grid-cols-4 gap-5">
    {
      buyData.map((item) => (
        <div class="flex items-center justify-center rounded-lg border px-8 py-8">
          <img src={item.logo} alt={item.title} class="h-6 text-foreground" />
        </div>
      ))
    }
  </div>
</div>
