---
const { buyAktSection } = Astro.props;
---

<div>
  <h2 class="text-center text-2xl font-semibold md:text-2xl">
    {buyAktSection.title}
  </h2>
  <p class="mt-4 text-center text-base font-normal md:text-lg">
    {buyAktSection.description}
  </p>

  <div
    class="mx-auto mt-8 grid grid-cols-2 gap-3 md:mt-14 md:grid-cols-4 md:gap-5"
  >
    {
      buyAktSection.items.map((item: { title: string; link: string }) => (
        <a
          href={item.link}
          target="_blank"
          rel="noopener noreferrer"
          class="group flex items-center justify-center rounded-2xl border border-defaultBorder bg-background2 px-2 py-6 text-center transition-all duration-200 hover:border-primary hover:bg-background2/80 md:px-6 "
        >
          <span class="text-base font-medium text-foreground group-hover:text-primary md:text-lg">
            {item.title}
          </span>
        </a>
      ))
    }
  </div>
</div>
