---
const { buyAktSection } = Astro.props;
---

<div>
  <h2 class="text-center text-2xl font-semibold md:text-2xl">
    {buyAktSection.title}
  </h2>
  <p class="mt-4 text-center text-base font-normal md:text-lg">
    {buyAktSection.description}
  </p>

  <div
    class="mx-auto mt-8 grid grid-cols-2 gap-3 md:mt-14 md:grid-cols-4 md:gap-5"
  >
    {
      buyAktSection.items.map((item: { title: string; link: string }) => (
        <a
          href={item.link}
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center rounded-lg border px-8 py-4 font-medium transition-all hover:border-primary hover:shadow-md"
        >
          {item.title}
        </a>
      ))
    }
  </div>
</div>
