---
const { heroSection } = Astro.props;
---

<div class="flex flex-col items-center gap-10 md:gap-14">
  <div class="w-full flex-1">
    <h1
      class="mb-14 text-center text-2xl !leading-tight md:!leading-10 lg:text-4xl"
    >
      The Currency of the Supercloud
    </h1>

    <h2 class="mb-1 text-center text-base font-medium md:text-base lg:text-2xl">
      The AKT Token
    </h2>
    <p class="mb-2 text-center text-base">
      AKT is the native token of Akash Network, the currency developers use to
      access compute from providers in the world’s first decentralized cloud
      marketplace. It powers a global exchange where anyone can buy and sell
      compute, fueling open, efficient, and affordable AI infrastructure.
    </p>
  </div>
</div>
