---
import ButtonLink from "@/components/ui/button-link.astro";
import BuyAktButton from "./buy-akt-modal";

const { heroSection } = Astro.props;
---

<div class="flex flex-col items-center gap-20">
  <div class="w-full flex-1">
    <div class="flex flex-col gap-5">
      <h1 class="text-left text-2xl !leading-[1.2] lg:text-5xl">
        Prowering the<br /> Supercloud Economy
      </h1>
      <p>
        AKT is the currency of decentralized compute - powering<br /> the next genration
        of AI and clound infrastructure
      </p>
      <div class="mt-6 flex flex-wrap items-center gap-4">
        <BuyAktButton client:load />
        <ButtonLink
          link="#how-it-works"
          variant="secondary"
          size="xl"
          aria-label="Learn more about how AKT token works"
        >
          Learn More
        </ButtonLink>
      </div>
    </div>
  </div>
  <div class="h-px w-full bg-defaultBorder"></div>
  <div class="grid grid-cols-2 gap-4">
    <h2 class="text-left text-base font-medium md:text-base lg:text-4xl">
      The AKT Token
    </h2>
    <p class="text-left text-base">
      AKT is the native token of Akash Network, the currency developers use to
      access compute from providers in the world’s first decentralized cloud
      marketplace. It powers a global exchange where anyone can buy and sell
      compute, fueling open, efficient, and affordable AI infrastructure.
    </p>
  </div>
</div>
