---
import Card from "./card.astro";

const howItWorksSection = {
  title: "How It Used",
  cards: [
    {
      title: "Security",
      description:
        "Akash Network is secured by a Proof-of-Stake (PoS) blockchain, and AKT is used to secure the network by staking. Staking AKT provides a yield for stakers, in exchange for securing the network.",
      icon: `<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 12.8125L11 14.8125L15 10.8125M12 22.8125C12 22.8125 20 18.8125 20 12.8125V5.8125L12 2.8125L4 5.8125V12.8125C4 18.8125 12 22.8125 12 22.8125Z" stroke="currentColor" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"/>
</svg>
`,
    },
    {
      title: "Governance",
      description:
        "Akash Network is community-owned and all aspects of the network are governed by AKT holders. AKT holders can vote on proposals to improve the network and manage critical parameters such as inflation rate and take rates.",
      icon: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.25 12.8125L11.25 14.8125L15.25 10.8125M22.25 19.8125H2.25M5.25 7.8125C5.25 6.7125 6.15 5.8125 7.25 5.8125H17.25C17.7804 5.8125 18.2891 6.02321 18.6642 6.39829C19.0393 6.77336 19.25 7.28207 19.25 7.8125V19.8125H5.25V7.8125Z" stroke="currentColor" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"/>
</svg>
`,
    },
    {
      title: "Value Exchange",
      description:
        "AKT provides a default mechanism to store and exchange value. AKT is the only way to purchase compute on the network. Traditional payments such as credit card transactions are converted to AKT to access compute resources.",
      icon: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.5 3.8125L20.5 7.8125M20.5 7.8125L16.5 11.8125M20.5 7.8125H4.5M8.5 21.8125L4.5 17.8125M4.5 17.8125L8.5 13.8125M4.5 17.8125H20.5" stroke="currentColor" strokeWidth="1.5" strokeLinecap="round" strokeLinejoin="round"/>
</svg>
`,
    },
  ],
};
---

<div id="how-it-works">
  <h2 class="text-center text-2xl font-semibold md:text-2lg">
    {howItWorksSection.title}
  </h2>

  <div
    class="mx-auto mt-[40px] grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-3"
  >
    {
      howItWorksSection.cards.map((card: any) => (
        <Card
          icon={card.icon}
          title={card.title}
          description={card.description}
        />
      ))
    }
  </div>
</div>
