---
import { acc2025 } from "./acc-2025";
---

<section class="container-nav-2 flex flex-col gap-10 py-10 lg:gap-16">
  <div class="flex flex-col justify-between gap-14 md:gap-5 lg:flex-row">
    <div class="flex w-full flex-1 flex-col items-start gap-4">
      <svg
        class="w-[100px] md:h-[69px] md:w-[141px]"
        viewBox="0 0 141 69"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="106.593" cy="33.5927" r="33.5927" fill="#8E8D92"></circle>
        <path
          d="M128.798 34.3056L107.71 51.8384L107.71 16.7728L128.798 34.3056Z"
          fill="white"></path>
        <path
          d="M112.506 34.3056L91.4173 51.8384L91.4173 16.7728L112.506 34.3056Z"
          fill="white"></path>
        <circle cx="33.1035" cy="35.1035" r="33.1035" fill="#FF414C"></circle>
        <path
          d="M38.1678 39.2624L44.7175 47.4786L45.8783 50.3206H33.1785L26.825 39.2624H38.1678Z"
          fill="white"></path>
        <path
          d="M45.8749 50.3217L52.2178 39.2634L39.5215 17.1416H26.825L45.8749 50.3217Z"
          fill="white"></path>
        <path
          d="M20.4771 28.1983H33.1735L20.4823 50.3201L14.1289 39.2619L20.4771 28.1983Z"
          fill="white"></path>
      </svg>

      <h1
        class="text-6xl !font-semibold !leading-[1] lg:text-7xl 2xl:text-[88px]"
      >
        Akash <br /> Accelerate 2025
      </h1>
      <p
        class="font-jetBrainsMono text-sm font-medium text-[#747474] md:text-lg"
      >
        NYC + Virtual / June 23rd / 9:30-6:30pm
      </p>
      <p
        class="max-w-[35rem] text-lg font-medium text-foreground lg:text-xl 2xl:text-2xl"
      >
        Akash Accelerate is a full-day summit that will bring together the
        entire ecosystem for a packed agenda of talks, panels, and discussions
        exploring the future of decentralized compute and open-source AI.
      </p>
      <a
        href={acc2025.register}
        target="_blank"
        class="mr-auto mt-2 flex gap-1 rounded bg-primary px-6 py-3 font-jetBrainsMono text-xl uppercase tracking-wide transition-all hover:bg-[#2C2C2C] md:mt-8 md:py-4 2xl:text-2xl"
      >
        Register
      </a>
    </div>
    <div class="flex w-full flex-1 items-center justify-center">
      <img
        src="/images/acc-2025/hero.png"
        alt="Akash Accelerate 2025"
        class="w-[75%] object-contain md:w-[45%] lg:h-[60%] lg:w-full"
      />
    </div>
  </div>
</section>
