---
import { acc2025 } from "./acc-2025";
---

<a
  href={acc2025.youtube}
  target="_blank"
  class="group relative flex aspect-[16/15] max-h-[640px] w-full md:aspect-[16/6]"
>
  <img
    src="/images/acc-2025/highlights.png"
    alt="Akash Accelerate 2025 Highlights"
    class="relative z-[1] h-full w-full object-cover object-top"
  />
  <div
    class="absolute inset-0 z-[2] flex items-end py-10 transition-all group-hover:bg-black/10"
  >
    <div class="container-nav-2 flex flex-col gap-2">
      <svg
        class="size-14 lg:size-[85px]"
        viewBox="0 0 85 85"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="42.5" cy="42.5002" r="42.5" fill="#21B35D"></circle>
        <path
          d="M61 43.5002L30.25 60.3877L30.25 26.6127L61 43.5002Z"
          fill="white"></path>
      </svg>
      <h2
        class="text-3xl font-semibold leading-[1.2] transition-all group-hover:underline md:text-5xl"
      >
        View Highlights <br />
        From Last Year
      </h2>
    </div>
  </div>
</a>
