<section class="flex">
  <img
    src="/images/acc-2025/map.png"
    alt="Akash Accelerate 2025 Location"
    class="max-w-[758px]"
  />
  <div class="flex w-full flex-col gap-10 bg-[#1E1E1E] p-10">
    <div class="flex flex-col gap-3">
      <svg
        width="60"
        height="61"
        viewBox="0 0 60 61"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="30"
          cy="30"
          r="30"
          transform="matrix(1.19249e-08 -1 -1 -1.19249e-08 60 60.7766)"
          fill="#FAB215"></circle>
        <path
          d="M40.4705 43.2345L40.4945 38.3104L25.6741 38.3104L43.6772 20.3073L40.0982 16.7283L22.0951 34.7314L22.1071 19.923L17.171 19.935V43.2345L40.4705 43.2345Z"
          fill="white"></path>
      </svg>
      <h2 class="text-5xl font-semibold leading-[1.2]">
        74Wythe <br /> Williamsburg<br /> NYC
      </h2>
    </div>
    <h3 class="font-jetBrainsMono text-2xl">
      June 23rd <br /> 9:30-6:30pm
    </h3>
  </div>
</section>
