---
import Card from "./card.astro";
const { aiModelsAndAppsSection } = Astro.props;
---

<section class="bg-[url('/images/trustedby/gradient.svg')] bg-cover bg-center">
  <div class="container py-[80px]">
    <h2 class="text-center text-xl font-medium md:text-[28px]">Akash Apps</h2>
    <p class="mt-2 text-center text-base md:text-lg">
      Free instant AI tools at your fingertips—no infrastructure required.
    </p>

    <div class="mt-10 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {aiModelsAndAppsSection.cards1.map((card: any) => <Card card={card} />)}
    </div>
  </div>
</section>
