---
import CaseStudies from "@/components/home/case-studies.astro";
import Fuel from "@/components/home/Fuel";
import Hero from "@/components/home/hero/hero.astro";
import JustShipIt from "@/components/home/just-ship-it.astro";
import TrustedBy from "@/components/home/trustedby/trusted-by.astro";
import UVP from "@/components/home/uvp.astro";
import WhyAkash from "@/components/home/why-akash.astro";
import Layout from "@/layouts/layout.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("Homepage", "index");

const { heroSection } = homepage?.data;
---

<Layout
  classname="dark:bg-[#0a0a0a]"
  headerClassName="bg-[#0a0a0a] dark:bg-[#0a0a0a] top-0 sticky z-[30] border-b border-[#282828] dark:border-[#282828]"
  title="Akash Network - Decentralized Compute Marketplace"
  footerClassName="dark:bg-[#101010]  border-t dark:border-[#282828]"
  footerSubclassName="container-home"
  description="Akash is an open network that lets users buy and sell computing resources securely and efficiently. Purpose-built for public utility."
>
  <div class="bg-[#0a0a0a]">
    <Hero heroSection={heroSection} />
    <TrustedBy />
    <WhyAkash />
    <Fuel client:load />
    <UVP />
    <CaseStudies />
    <JustShipIt />
  </div>
</Layout>
