---
import GlobalGridClient from "./global-grid-client.tsx";
---

<section class="w-full p-8 text-[#171717] dark:text-white lg:p-10 xl:p-[100px]">
  <div class="mb-16">
    <h2 class="text-[40px] leading-[48px]">Global Grid. No Off Switch.</h2>
    <p class="mt-2 text-base text-[#8A8F98] dark:text-[#8A8F9D]">
      Access a permissionless grid of providers spanning 24 countries. <br /> While
      centralized clouds have outages, the Supercloud has resilience.
    </p>
  </div>

  <GlobalGridClient client:only="react" />
</section>
