---
---

<section
  class="relative w-full h-[80vh] bg-cover bg-center bg-no-repeat"
  style="background-image: url('/images/fuelBgSM.png');"
>
  <style>
    @media (min-width: 768px) {
      section {
        background-image: url('/images/fuelBg.png');
      }
    }
  </style>

  <div class="relative z-10 flex h-full flex-col items-center justify-center py-12 md:py-20 text-center">

    <div class="flex flex-col gap-2 md:gap-4 px-6">
      <h2 class="text-[40px] md:text-[80px] font-semibold leading-[50px] text-white mb-4">
        Just Ship It.
      </h2>

      <p class="text-[#8A8F98] text-sm">
        <span class="text-white">Your Cloud. Your Choice.</span> True sovereignty means total flexibility. <br class="hidden md:block" /> Log in with GitHub, Email, or Wallet. Pay with Credit Card, USDC, or AKT.
      </p>
    </div>

    <div class="flex flex-wrap gap-2 mt-8">
      <a
        href="/token/"
        class="flex items-center rounded-lg bg-[#E5E5E5] text-[#171717] px-4 py-2 transition-all duration-300 hover:brightness-110"
      >
        Deploy Now
      </a>

      <a
        href="/token/"
        class="flex items-center rounded-lg bg-[#333336] px-4 py-2 text-white transition-all duration-300 hover:brightness-110"
      >
        Get In Touch
      </a>
    </div>

  </div>
</section>